<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <!-- Dashboard -->
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <!-- Đặt phòng -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-calendar"></i>
                    </span>
                    <span class="title">Quản lý đặt phòng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Bills" asp-action="Index">Danh sách phòng đã đặt</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Book">Đặt phòng</a>
                    </li>
                </ul>
            </li>
            <!-- Quản lý phòng karaoke -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Rooms" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý phòng karaoke</span>
                </a>
            </li>
            <!-- Quản lý quyền truy cập -->
            @if (@ViewData["UserRole"].ToString() == "1")
            {
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="anticon anticon-lock"></i>
                        </span>
                        <span class="title">Quản lý hệ thống</span>
                        <span class="arrow">
                            <i class="arrow-icon"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quyền truy cập</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Tài khoản truy cập</a>
                        </li>
                    </ul>
                </li>
            }
            <!-- Quản lý thực đơn -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Quản lý thực đơn</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Loại thức thức ăn</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Foods" asp-action="Index">Thức ăn</a>
                    </li>
                </ul>
            </li>
            <!-- Quản lý hóa đơn -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý hóa đơn</span>
                </a>
            </li>

            <!-- Quản lý khách hàng -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Quản lý khách hàng</span>
                </a>
            </li>
            @if (@ViewData["UserRole"].ToString() == "1" || @ViewData["UserRole"].ToString() == "2")
            {
                <!-- Thống kê doanh thu -->
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="anticon anticon-pie-chart"></i>
                        </span>
                        <span class="title">Thống kê doanh thu</span>
                        <span class="arrow">
                            <i class="arrow-icon"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="chartist.html">Chartist</a>
                        </li>
                        <li>
                            <a href="chartjs.html">ChartJs</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>