
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mt-3">Đồ án hoàn thành bởi</h1>
<div class="container d-flex justify-content-center align-items-center text-center" style="min-height: 80vh">
    <div class="row">
        <h1>Phạm Duy Thái - 51702180</h1>
        <h1>Trần Phú Quý - 51702165</h1>
        <h1>Lê Minh Hiếu - 5170</h1>
        <h1>Thành</h1>
    </div>
</div>

