.colActive {
    text-align: center;
}

tbody tr:hover {
    background-color: lavender;
}



.model-food {
    float:left;
    margin-left: 50px;
    width: 100%;
}

.colActive {
    text-align: center;
}

tbody tr:hover {
    background-color: lavender;
}

#simple-line-chart {
    flex: 1 1 0;
    overflow: hidden;
}